:host {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
  background: radial-gradient(circle at center, #111 0%, #000 70%);
  -webkit-user-select: none;
  user-select: none;
  border: 5px solid white
}

.controller {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.joystick {
width: 120px;
height: 260px;
padding: 15px 0;
border-radius: 50px;
background: radial-gradient(circle at center, #1c1c1c, #050505);
border: 3px solid #fff;
position: relative;
touch-action: none;
box-shadow:
inset 0 0 20px rgba(255,255,255,0.1),
0 0 30px rgba(255,255,255,0.15);
}


.stick {
width: 90px;
height: 90px;
border-radius: 50%;
background: radial-gradient(circle at top left, #fff, #bbb);
position: absolute;
top: 50%;
left: 50%;
box-shadow:
0 8px 20px rgba(0,0,0,0.6),
inset 0 0 8px rgba(255,255,255,0.6);
transition: transform 0.08s ease-out;
}

